
@media only screen and (max-width: 400px) {
    /* body{
        position: relative;
    } */
    *{
       /* visibility: none;  */
       margin: 0;
       padding: 0;
        visibility: hidden;
    }
    header{
        width: 400px;;
        height: 50px;
        background: red;
        visibility: visible;
    }
    nav{
        
    }
  }